<div id="comment-form" class="comment-form">
  <form  id="comment-form-element" method="POST" action="{{ site.staticman_url }}">
    <input name="options[parent]" type="hidden" value="{{ page.url | absolute_url }}">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[reCaptcha][siteKey]" type="hidden" value="{{ site.reCaptcha.siteKey }}">
    <input name="options[reCaptcha][secret]" type="hidden" value="{{ site.reCaptcha.secret }}">
    <input id="comment-form-replying-to" name="fields[replying_to]" type="hidden" value="">
    <input id="comment-form-profanity" name="fields[profanity]" type="hidden" value="">
    <input id="comment-form-xss" name="fields[xss]" type="hidden" value="">

    <div class="comment-form-body">

      <header class="comment-form-header">
        <h4>Leave a comment</h4>
      </header>

      <fieldset class="comment-form-name required">
        <label for="comment-form-name">Name</label>
        <input id="comment-form-name" name="fields[name]" type="text" tabindex="1" placeholder="your name" required onchange="STATICMAN.onChange['name']()"/>
      </fieldset>

      <fieldset class="comment-form-website">
        <div class="comment-form-tooltip">&#128712;
          <span class="comment-form-tooltip-text">
            Used when people click on <br>your name or avatar.
          </span>
        </div>
        <label for="comment-form-website">Website</label>
        <input id="comment-form-website" name="fields[website]" type="website" tabindex="2" placeholder="your website" onchange="STATICMAN.onChange['website']()"/>
      </fieldset>

      <fieldset class="comment-form-avatar">
        <label for="comment-form-avatar">Avatar</label>
        <select id="comment-form-avatar" name="fields[avatar]" size="1" tabindex="3" onchange="STATICMAN.onChange['avatar']()">
          <option value="local" selected>local</option>
          <option value="github">github (needs website)</option>
          <option value="facebook">facebook (needs website)</option>
          <option value="instagram">instagram (needs website)</option>
          <option value="twitter">twitter (needs website)</option>
          <option value="gravatar">gravatar (needs email)</option>
          <option value="libravatar">libravatar (needs email)</option>
        </select>
      </fieldset>

      <fieldset class="comment-form-email">
        <div class="comment-form-tooltip">&#128712;
          <span class="comment-form-tooltip-text">
            Used for your <a href="https://en.gravatar.com/support/how-to-sign-up/">Gravatar</a> or <a href="https://www.libravatar.org/">Libravatar</a>.<br>Will NOT be published.
          </span>
       </div>
        <label for="comment-form-email">Email</label>
        <input id="comment-form-email" name="fields[email]" type="email" tabindex="4" placeholder="your e-mail address" onchange="STATICMAN.onChange['email']()"/>
      </fieldset>

      <fieldset class="comment-form-password">
        <label for="comment-form-password">Password</label>
        <input id="comment-form-password" name="fields[password]" type="text" tabindex="9" placeholder="your password" onchange="STATICMAN.onChange['password']()" autocomplete="none"/>
      </fieldset>

      <fieldset class="comment-form-message required">
        <div class="comment-form-tooltip">&#128712;
          <span class="comment-form-tooltip-text">
            You can use <a href="https://kramdown.gettalong.org/syntax.html">Markdown</a>, and <a href="https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers">syntax-highlighting</a>, but all HTML is stripped, and only HTTP and HTTPS protocols<br> are allowed in links.<br><br>Remark that the preview may show slightly different formatting than the published comment, because we use a different Markdown converter on the client-side, and there is no syntax highlighting at this moment.
          </span>
        </div>
        <label for="comment-form-message">Message</label>
        <textarea id="comment-form-message" name="fields[message]" rows="10" tabindex="5" placeholder="your message" required onchange="STATICMAN.onChange['message']()"></textarea>
      </fieldset>

      <fieldset class="comment-form-reset">
        <button id="comment-form-reset" type="reset" tabindex="6">Clear</button>
      </fieldset>

    </div>

    <div class="comment-form-preview-container">
      {% include staticman_comment.html replying_to="" index=0 name="" avatar="" email="" website="" message="" %}
    </div>

    <div class="comment-form-footer">

      <fieldset class="comment-form-submit">
        <button id="comment-form-submit" type="submit" tabindex="7">Submit</button>
      </fieldset>

      <fieldset class="comment-form-cancel">
        <button id="comment-form-cancel" type="button" tabindex="8" onclick="STATICMAN.moveForm('', 'Leave a comment')">Cancel</button>
      </fieldset>

      <script>
          function reCAPTCHA_OnSubmit(token) { return STATICMAN.reCAPTCHA.onSubmit(token) };
          function reCAPTCHA_OnExpired() { return STATICMAN.reCAPTCHA.onExpired() };
          function reCAPTCHA_OnError() { return STATICMAN.reCAPTCHA.onError() };
      </script>
      <div class="grecaptcha-text">
          This site is protected by reCAPTCHA and <br>
          the Google <a href="https://policies.google.com/privacy">Privacy Policy</a> and <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </div>
      <div
          class="g-recaptcha"
          data-sitekey="{{ site.reCaptcha.siteKey }}"
          data-badge="inline"
          data-size="invisible"
          data-callback="reCAPTCHA_OnSubmit"
          data-expired-callback="reCAPTCHA_OnExpired"
          data-error-callback="reCAPTCHA_OnError"
          hidden
      >
      </div>
    </div>
  </form>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <symbol id="icon-loading" viewBox="149.8 37.8 499.818 525">
      <path d="M557.8 187.8c13.8 0 24.601-10.8 24.601-24.6S571.6 138.6 557.8 138.6s-24.6 10.8-24.6 24.6c0 13.2 10.8 24.6 24.6 24.6zm61.2 90.6c-16.8 0-30.6 13.8-30.6 30.6s13.8 30.6 30.6 30.6 30.6-13.8 30.6-30.6c.6-16.8-13.2-30.6-30.6-30.6zm-61.2 145.2c-20.399 0-36.6 16.2-36.6 36.601 0 20.399 16.2 36.6 36.6 36.6 20.4 0 36.601-16.2 36.601-36.6C595 439.8 578.2 423.6 557.8 423.6zM409 476.4c-24 0-43.2 19.199-43.2 43.199s19.2 43.2 43.2 43.2 43.2-19.2 43.2-43.2S433 476.4 409 476.4zM260.8 411c-27 0-49.2 22.2-49.2 49.2s22.2 49.2 49.2 49.2 49.2-22.2 49.2-49.2-22.2-49.2-49.2-49.2zm-10.2-102c0-27.6-22.8-50.4-50.4-50.4-27.6 0-50.4 22.8-50.4 50.4 0 27.6 22.8 50.4 50.4 50.4 27.6 0 50.4-22.2 50.4-50.4zm10.2-199.8c-30 0-54 24-54 54s24 54 54 54 54-24 54-54-24.6-54-54-54zM409 37.8c-35.4 0-63.6 28.8-63.6 63.6S374.2 165 409 165s63.6-28.8 63.6-63.6-28.2-63.6-63.6-63.6z">
      </path>
    </symbol>
  </svg>
</div>