<div id="comment-{% if include.replying_to != '' %}{{ include.replying_to }}-{% endif %}{{ include.index }}" class="comment"
    data-index       = "{{ include.index }}"
    data-replying_to = "{{ include.replying_to }}"
    data-name        = "{{ include.name }}"
    data-avatar      = "{{ include.avatar }}"
    data-email       = "{{ include.email }}"
    data-website     = "{{ include.website }}"
    data-profanity   = "{{ include.profanity }}"
    data-xss         = "{{ include.xss }}"
    data-timestamp   = "{{ include.timestamp }}"
    data-uid         = "{{ include.uid }}"
>

  {% assign initial = include.name | downcase | slice: 0 | default: "?" %}
  {% assign x = "a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z" | split: "," %}
  {% assign y = 0 %}
  {% for z in x %}
    {% if initial == z %}
      {% assign y = forloop.index %}
      {% break %}
    {% endif %}
  {% endfor %}

  <div class="comment-header">
    {% if include.replying_to == "" %}
      <hr class="comment-separator-start">
    {% else %}
      <hr class="comment-separator-start comment-reply-separator">
    {% endif %}
    <div class="comment-avatar">
      {% if include.website == "" %}
        <a class="disabled" title="Link to author's website">
      {% else %}
        <a href="{{ include.website }}" title="Link to author's website">
      {% endif %}
        <div class="mm mm-{{ include.name | strip | size | plus: y | modulo: 12 }}">{{ initial | upcase }}</div>
        <img src="/assets/images/mystery-man.png" alt="{{ include.name | default: 'preview' }}" onerror="this.src='/assets/images/mystery-man.png';" width="50" height="50">
      </a>
    </div>
    <div class="comment-title">
      {% if include.website == "" %}
        <a class="disabled" title="Link to author's website">
      {% else %}
        <a href="{{ include.website }}" title="Link to author's website">
      {% endif %}
        <span class="comment-author">{{ include.name | default: "?" }}</span>
      </a>
      <br>
      <a class="comment-date" href="#comment-{{ include.index }}" title="Permalink to this {% if include.replying_to == '' %}comment{% else %}reply{% endif %}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {% if include.replying_to == "" %}commented{% else %}replied{% endif %} on {{ include.timestamp | divided_by: 1000 | date: date_format }}
      </a>
    </div>
    {% if include.replying_to == "" %}
      <hr class="comment-separator-end">
    {% else %}
      <hr class="comment-separator-end comment-reply-separator">
    {% endif %}
  </div>
  <div class="comment-body">
    {{ include.message | strip_html | markdownify }}
  </div>
</div>
