---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">

    {%- if page.toc == true -%}
      <div class="toc">
        <h4>On this page</h4>
        {%- include toc.html html=content h_max=4 -%}
      </div>
      <p><br></p>
    {%- endif -%}

    {% include anchor_headings.html html=content h_max=4 anchorBody="&nbsp;&#128279;&nbsp;" anchorClass="anchor-heading" anchorTitle="Permalink to '%heading%'" %}

  </div>

</article>
