---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {%- if page.toc == true -%}
      <div class="toc">
        <h4>In this post</h4>
        {%- include toc.html html=content h_max=4 -%}
        {%- if page.comments == true -%}
          <ul>
            <li>
              <a href="#comments">Comments</a>
            </li>
          </ul>
        {%- endif -%}
      </div>
      <p><br></p>
    {%- endif -%}

    {% include anchor_headings.html html=content h_max=4 anchorBody="&nbsp;&#128279;&nbsp;" anchorClass="anchor-heading" anchorTitle="Permalink to '%heading%'" %}

    {%- if page.comments == true -%}
      {%- include staticman_comments.html -%}
    {%- endif -%}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
