---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">

    {%- if page.toc == true -%}
      {%- if page.comments != true -%}
        <div class="toc">
          <h4>In this post</h4>
          {%- include toc.html html=content h_max=4 -%}
        </div>
      {%- else -%}
        <div class="toc toc-with-comments">
          <h4>In this post</h4>
          {%- include toc.html html=content h_max=4 -%}
          <ul>
            <li>
              <a href="#comments">Comments</a>
            </li>
          </ul>
        </div>
      {%- endif -%}
      <p><br></p>
    {%- endif -%}

    {% include anchor_headings.html html=content h_max=4 anchorBody="&nbsp;&#128279;&nbsp;" anchorClass="anchor-heading" anchorTitle="Permalink to '%heading%'" %}

    {% if site.related_posts.size >= 1 %}
      <hr>
      <div>
        <h3 id="related-posts">Related Posts
          <a href="#related-posts" class="anchor-heading" title="Permalink to 'Related Posts'">&nbsp;&#128279;&nbsp;</a>
        </h3>
        <ul>
        {% for related_post in site.related_posts limit: 5 %}
          <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <p><br></p>
    {% endif %}

    {%- if page.comments == true -%}
      <hr>
      {%- include staticman_comments.html -%}
    {%- endif -%}

  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
