---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    {%- if site.posts.size > 0 -%}
      <ul>
        {%- for tag in site.tags -%}
          <li>
            <a href="#{{ tag[0] }}">{{ tag[0] | capitalize }}</a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>

  {%- if site.posts.size > 0 -%}
    {%- for tag in site.tags -%}
      <hr>
      <h2 id="{{ tag[0] }}" class="post-list-heading">{{ tag[0] | capitalize }}</h2>
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in tag[1] -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endfor -%}
    <hr>
  {%- endif -%}

</article>